:root {
    /*Font*/

    //family
    --fontGupter: "Gupter";
    --fontIBM: "IBM Plex Sans";

    //weight
    --regular: 400;
    --medium: 500;
    --bold: 700;


    /*Color*/

    --black: #000000;
    --white: #FFFFFF;
    --redTittle: #8E1212;
    --lightGray: #DDDDDD;
    --darkGray: #373737;
    --blue: #305AB4;
    --catalogButton: #BE1212;
    --catalogButtonOpacity: #BE1212A6;
    --blackOpacity: #000000CC;
    --redButton: #C00000B3;
    --dimGray: #ececec;
    --bacBasket: #F9F9F9;

    //Color category 

    --stocks: #28A7454D;
    --popular: #007BFF4D;
    --craftPC: #0000004D;
    --components: #FF00004D;
    --other: #C0C0C04D;
    --accessories: #8B45134D;

    //hover

    --stocksHover: #28A74580;
    --popularHover: #007BFF80;
    --craftPCHover: #00000080;
    --componentsHover: #FF000080;
    --otherHover: #C0C0C080;
    --accessoriesHover: #8B451380;
    --border: #b9b9b9;


    /*Transition*/

    --transition: 0.4s;


    /*Z-index*/

    --100: 100;
    --200: 200;
    --300: 300;
    --400: 400;
    --500: 500;


    /*Count basket*/
    --count: "0";
}