@use "../../main/variables.scss";
@use "../../helpers/index.scss" as *;

.main-account {
    width: 100vw;

    &__block {
        margin-inline: auto;
        padding-top: rem(50);
        width: min(100% - rem(40), rem(1440));
    }

    &__login {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: rem(40);
        width: min(100%, rem(400))
    }

    &__subtitle {
        @include fluid-text(36, 32);
        margin-bottom: rem(10);
        font-family: var(--fontIBM);
    }

    &__input {
        padding: rem(5);
        border: 1px solid var(--black);
        width: 100%;
        border-radius: rem(6);
    }

    &__button {
        padding: rem(8) rem(48);
        background-color: var(--componentsHover);
        color: var(--white);
        border-radius: rem(8);
        transition: var(--transition);

        @include hover {
            background-color: var(--redButton);
        }
    }

    &__profile {
        display: none;
    }

    &__notorder {
        font-size: rem(20);
    }

    &__orders {
        display: flex;
        flex-direction: column;
        row-gap: rem(40);
        margin-block: rem(40);
    }

    &__orders-header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: rem(60);
        padding: rem(10);
        font-weight: 700;
    }

    &__orders-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: rem(30);
        padding: rem(10);
        border: 1px solid var(--border);
        border-radius: rem(8);
    }

    &__orders-row > &__orders-cell:first-child {
        justify-self: start;
    }

    &__orders-cell {
        justify-self: center;
        align-self: center;
    }
    
    &__product {
        display: block;
        margin-bottom: rem(20);
        transition: var(--transition);
        width: 100%;
        
        @include hover() {
            color: var(--redButton);
        }
    }

    &__cancel {
        padding: rem(4) rem(28);
        background-color: var(--componentsHover);
        color: var(--white);
        border-radius: rem(8);
        transition: var(--transition);

        @include hover {
            background-color: var(--redButton);
        }
    }

    &__exit {
        padding: rem(8) rem(48);
        background-color: var(--redButton);
        color: var(--white);
        border-radius: rem(8);
        transition: var(--transition);

        @include hover {
            background-color: var(--componentsHover);
        }
    }
}