@use "../../main/variables.scss";
@use "../../helpers/index.scss" as *;

.main-basket {
    width: 100vw;

    &__block {
        padding-top: rem(50);
        margin-inline: auto;
        width: min(100% - rem(40), rem(1440));
        height: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: rem(1084);

        @include laptop() {
            width: 100%;
        };
    }

    &__title {
        @include fluid-text(36, 32);
        margin-bottom: rem(10);
        font-family: var(--fontIBM);
        margin-bottom: rem(40);
    }

    &__clearAll {
        transition: var(--transition);

        @include hover() {
            color: var(--redButton);
        }
    }

    .product {
        display: flex;
        justify-content: space-between;
        column-gap: rem(120);

        @include laptop() {
            flex-direction: column;
            align-items: center;
            row-gap: rem(60);
        }
    }

    .cart-items {
        width: 100%;

        &__list {
            display: flex;
            flex-direction: column;
            row-gap: rem(40);
        }
        
        &__item {
            display: flex;
            justify-content: space-between;
            column-gap: rem(120);
            padding: rem(10);
            border: 1px solid var(--border);
            border-radius: rem(10);
            transition: var(--transition);

            @include hover() {
                border-radius: rem(15);
                border-color: var(--black);
            }

            @include mobile() {
                flex-direction: column;
            }
        }

        &__info {
            display: flex;
            justify-content: space-between;
            column-gap: rem(40);

            @include mobile() {
                column-gap: rem(15);
            }
        }

        &__image {
            width: rem(150);
            height: rem(150);

            @include mobile() {
                width: rem(120);
                height: rem(120);
            }
        }

        &__title {
            @include fluid-text(24, 16);
            display: block;
            margin-bottom: rem(30);
            font-family: var(--fontIBM);
            font-weight: 700;
        }

        &__count {
            display: flex;
            align-items: center;
            column-gap: rem(10);
            margin-bottom: rem(10);
        }

        &__price {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            @include mobile() {
                row-gap: rem(40);
                margin-top: rem(40);
            }

            @include mobile() {
                flex-direction: row;
            }
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            column-gap: rem(30);
        }

        &__button {
            width: rem(25);
            height: rem(25);

            &--favorit {
                transition: var(--transition);

                &.favorit {
                    color: var(--redButton);
                }

                @include hover() {
                    color: var(--redButton);
                }   
            }   
        }

        &__cost {
            text-align: center;
            font-size: rem(24);
            font-weight: 700;

            @include mobile() {
                text-align: left;
            }
        }
    }

    .order-summary {
        padding: rem(20);
        border: 1px solid var(--border);
        border-radius: rem(10);
        width: rem(300);
        max-height: rem(235);

        &__title {
            @include fluid-text(24, 16);
            margin-bottom: rem(20);
            font-family: var(--fontIBM);
            text-align: center;
        }

        &__count {
            display: flex;
            justify-content: space-between;
        }

        &__totalPrice {
            font-size: rem(18);
            font-weight: 700;
            margin-bottom: rem(40);
        }

        &__order {
            display: block;
            padding: rem(12) rem(38);
            margin-inline: auto;
            background-color: var(--componentsHover);
            color: var(--white);
            border-radius: rem(8);
            transition: var(--transition);

            @include hover {
                background-color: var(--redButton);
            }
        }
    }
}