@use "../../main/variables.scss";
@use "../../helpers/index.scss" as *;

.main-catalog {
    width: 100vw;

    &__block {
        width: min(100% - rem(40), rem(1440));
        padding-top: rem(50);
        margin-inline: auto;

        @include tablet() {
            padding-top: rem(30);
        };
    }

    &__title {
        @include fluid-text(36, 32);
        margin-bottom: rem(10);
        font-family: var(--fontIBM);
    }

    &__filter {
        margin-bottom: rem(30);
        font-size: rem(18);
        color: var(--blue);
    }

    .main-products {
        &__list {
            display: flex;
            flex-direction: column;
            row-gap: rem(30);
        }

        &__item {
            border: 1px solid var(--border);
            border-radius: rem(10);
            transition: var(--transition);

            @include hover() {
                border-radius: rem(15);
                border-color: var(--black);
            }
        }
        
        &__link {
            display: flex;
            column-gap: rem(20);
            padding: rem(10);

            @include mobile() {
                flex-direction: column;
            }
        }

        &__info {
            display: flex;
            column-gap: rem(40);
            width: 100%;

            @include mobile() {
                column-gap: rem(20);
            }
        }

        &__image {
            width: rem(200);
            height: rem(200);

            @include mobile() {
                height: rem(120);
                width: rem(120);
            }
        }

        &__texts {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__title {
            @include fluid-text(24, 16);
            font-family: var(--fontIBM);
        }

        &__price {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: rem(150);

            @include mobile() {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: rem(25);
                width: 100%;
            }
        }

        &__cost {
            @include fluid-text(32, 26);
            font-weight: 700;
        }

        &__buy {
            display: flex;
            justify-content: center;
            padding: rem(8) rem(48);
            background-color: var(--componentsHover);
            color: var(--white);
            border-radius: rem(8);
            transition: var(--transition);

            @include hover {
                background-color: var(--redButton);
            }
        }

        &__favorit {
            transition: var(--transition);

            &.favorit {
                color: var(--redButton);
            }

            @include hover() {
                color: var(--redButton);
            }
        }
    }
}