@use "../../main/variables.scss";
@use "../../helpers/index.scss" as *;

.createComputer {
    width: 100vw;

    &__container {
        margin-inline: auto;
        padding-top: rem(50);
        width: min(100% - rem(40), rem(1440));
    }

    &__title {
        @include fluid-text(36, 32);
        margin-bottom: rem(40);
        font-family: var(--fontIBM);
    }

    &__components {
        display: flex;
        flex-direction: column;
        row-gap: rem(30);
        margin-bottom: rem(40);
    }

    &__field {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: rem(5);
        width: min(100%, rem(400));
        border: 1px solid var(--border);
        border-radius: rem(5);
    }

    &__input {
        width: 100%;
    }

    &__name {
        margin-right: rem(20);
        cursor: pointer;
    }

    &__info {
        display: flex;
        align-items: center;
        column-gap: rem(20);
    }

    &__image {
        height: rem(50);
    }

    &__errorMessage {
        color: var(--redTittle);
        margin-bottom: rem(20);
    }

    &__buy {
        padding: rem(8) rem(48);
        background-color: var(--componentsHover);
        color: var(--white);
        border-radius: rem(8);
        transition: var(--transition);

        @include hover {
            background-color: var(--redButton);
        }
    }
}