@use "../../main/variables.scss";
@use "../../helpers/index.scss" as *;

.main-popular {
    width: 100vw;

    &__block {
        margin-inline: auto;
        width: min(100% - rem(40), rem(1440));
    }

    &__title {
        @include fluid-text(36, 26);
        margin-bottom: rem(30);
        font-family: var(--fontIBM);
    }

    &__list {
        display: flex;
        column-gap: rem(60);
        padding-bottom: rem(15);
        width: 100%;
        overflow: auto;
    }

    &__link {
        position: relative;
        z-index: var(--100);
    }

    &__item {
        flex-shrink: 0;
        width: rem(220);
        padding: rem(10);
        border: 1px solid transparent;
        transition: var(--transition);

        &.buy {
            border-color: var(--border);
            border-radius: rem(10);
        }

        @include hover() {
            border-color: var(--border);
            border-radius: rem(10);
        }
    }

    .popular-product {
        &__image {
            margin-bottom: rem(20);
            width: rem(200);
            height: rem(200);
        }

        &__name {
            position: relative;
            margin-bottom: rem(10);
            height: rem(48);
            font-size: rem(16);
            font-family: var( --fontIBM);
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: rem(-5);
                width: 100%;
                height: rem(20);
                background: linear-gradient(180deg, transparent, #ffffff 50%);
            }
        }

        &__feedback {
            font-size: rem(14);
            margin-bottom: rem(15);
        }

        &__price {
            font-size: rem(20);
            margin-bottom: rem(10);
            font-weight: 700;
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: rem(10);
        }

        &__buy {
            position: relative;
            padding: rem(5) rem(37);
            background-color: var(--componentsHover);
            color: var(--white);
            border-radius: rem(8);
            transition: var(--transition);
            z-index: var(--200);

            &.buy {
                background-color: var(--redButton);
            }

            @include hover {
                background-color: var(--redButton);
            }
        }

        &__favorit {
            transition: var(--transition);

            @include hover() {
                color: var(--redButton);
            }
        }
    }
}