@use "../../main/variables.scss";
@use "../../helpers/index.scss" as *;

.main-product {
    width: 100vw;

    &__block {
        margin-inline: auto;
        padding-top: rem(50);
        width: min(100% - rem(40), rem(1440));
    }

    &__name {
        @include fluid-text(36, 26);
        position: relative;
        margin-bottom: rem(20);
        font-family: var(--fontIBM);
    }

    &__breadcrumbs {
        display: flex;
        padding-bottom: rem(5);
        width: min(100%, rem(1440));
        text-wrap: nowrap;
        font-size: rem(14);
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 0;
        }
    }

    &__item {
        &--name {
            color: var(--border);
        }
    }

    &__item:not(:first-child)::before {
        content: ">";
        padding-inline: rem(7);
        color: var(--black);
    }

    .main-item {
        display: flex;
        justify-content: space-between;
        column-gap: rem(40);
        padding: rem(20);

        &__images {
            display: flex;
            column-gap: rem(30);

            @include tablet() {
                display: none;
            }
        }

        &__image-slider {
            display: flex;
            flex-direction: column;
            row-gap: rem(15);
            padding-inline: rem(7) rem(3);
            max-height: rem(500);
            min-width: rem(60);
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: rem(3);
            }

            &::-webkit-scrollbar-track {
                background-color: var(--other);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--border);
            }

            @include tablet() {
                display: none;
            }
        }

        &__image {
            position: relative;
            height: rem(40);
            width: rem(40);

            &.active {
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: rem(-7);
                    height: 100%;
                    width: rem(3);
                    border-radius: rem(3);
                    background-color: var(--border);
                }
            }
        }

        &__mainImage {
            width: 100%;
            height: 100%;

            @include laptop() {
                width: rem(350);
                height: rem(350);
            }
        }

        &__image-mobile {
            @include hide();
            position: relative;

            @include tablet() {
                @include show();
            }
        }

        &__mobile-slider {
            position: relative;
            display: flex;
            column-gap: rem(20);
            margin-inline: auto;
            width: rem(300);
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-snap-stop: start;
            z-index: var(--200);

            & > img {
                scroll-snap-align: start;
            }

            @include mobile-s() {
                width: min(100% - rem(70), rem(300));
                aspect-ratio: 1;
            }
        }

        &__nav {
            @include abs-center();
            display: flex;
            justify-content: space-between;
            width: 100%;
            z-index: var(--100);
        }

        &__button {
            padding-inline: rem(5);
            font-size: rem(20);
        }

        &__info {
            width: min(100%, rem(516));

            @include tablet() {
                width: 100%;
            }
        }

        &__about {
            @include tablet() {
                margin-top: rem(40);
            }
        }

        &__feedback {
            margin-block: rem(50) rem(30);
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__price {
            @include fluid-text(32, 28);
            width: 50%;
            border-radius: rem(8);
            font-weight: 700;

            @include mobile-s() {
                padding: 0;
            }
        }

        &__favorit {
            transition: var(--transition);
            margin-right: rem(20);

            @include hover() {
                color: var(--redButton);
            }
        }

        &__favorit {
            transition: var(--transition);

            &.favorit {
                color: var(--redButton);
            }

            @include hover() {
                color: var(--redButton);
            }
        }

        &__buy {
            display: block;
            padding: rem(5) rem(47);
            background-color: var(--componentsHover);
            color: var(--white);
            border-radius: rem(8);
            transition: var(--transition);

            @include hover {
                background-color: var(--redButton);
            }
        }

        @include tablet() {
            flex-direction: column;
        }

        @include mobile-s {
            padding-inline: 0;
        }
    }

    &__description {
        display: block;
        padding: rem(60) rem(30) 0;
        text-align: justify;

        @include mobile-s() {
            padding-inline: 0;
        }
    }
}