@use "../../main/variables.scss";
@use "../../helpers/index.scss" as *;

.header {
    position: fixed;
    width: 100vw;
    z-index: var(--300);
    
    &-contact {
        background-color: var(--darkGray);
        color: var(--white);
    
        &__block {
            display: flex;
            justify-content: space-between;
            margin-inline: auto;
            padding-block: rem(10);
            width: min(100% - rem(40), rem(1440));
        }

        &__location {
            display: flex;
            align-items: center;
            column-gap: rem(5);
        }

        &__image {
            transition: var(--transition);
        }

        &__city-option {
            background-color: black;
        }
        

        &__phone {
            display: flex;
            align-items: center;
            column-gap: rem(5);

            &:hover {
                color: #cacaca;
            }
        }

        &__link {
            transition: var(--transition);
        }

        @include tablet {
            @include visually-hidden
        }
    }


    &-nav {
        color: var(--black);
        background-color: var(--white);
        border-bottom: 1px solid var(--lightGray);

        &__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 40px;
            margin-inline: auto;
            padding-block: 27px;
            width: min(100% - rem(40), rem(1440));
        }

        &__info {
            display: flex;
            align-items: center;
            column-gap: rem(15);
        }

        &__title {
            font-size: rem(40);
            color: var(--redTittle);
        }

        &__catalog {
            padding: rem(12) rem(32);
            background-color: var(--catalogButton);
            color: var(--white);
            border: 1px solid var(--catalogButton);
            border-radius: rem(8);
            transition: var(--transition);

            &:active {
                transform: translateY(1px);
            }

            @include hover {
                border-radius: 11px;
                background-color: var(--catalogButtonOpacity);
            }
        }


        &__search {
            display: flex;
            justify-content: space-between;
            column-gap: rem(25);
            padding: rem(3) rem(5);
            border: 1px solid var(--black);
            border-radius: rem(8);
            width: min(100% - rem(40), rem(700));
            height: rem(46);
        }

        &__field {
            width: 100%;
            font-size: rem(22);
            border-radius: rem(10);
        }

        &__quest {
            padding: rem(5);
            border-radius: rem(10);
            background-color: var(--black);
            transition: var(--transition);

            @include hover {
                border-radius: rem(11);
                background-color: var(--blackOpacity);
            }
        }


        &__list {
            display: flex;
            column-gap: rem(50);
        }

        &__item {
            height: rem(54);
        }

        &__link {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            height: inherit;
            transition: var(--transition);
            border-radius: rem(8);
            font-size: rem(13);

            @include hover {
                background-color: var(--outher);
            }
        }

        &__image {
            margin-inline: auto;
        }

        @include tablet {
            @include visually-hidden
        }
    }

    &-mobile {
        color: var(--black);
        border-bottom: 1px solid var(--lightGray);
        background-color: var(--white);
        
        &__block {
            margin-inline: auto;
            width: min(100% - rem(40), rem(1440));
        }

        &__contact {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: rem(19) rem(13); 
        }

        &__title {
            @include fluid-text(40, 28);
            color: var(--redTittle);
        }

        &__location {
            @include fluid-text(16, 13);
            display: flex;
            align-items: center;
            column-gap: rem(5);
        }


        &__search {
            display: flex;
            justify-content: space-between;
            column-gap: rem(15);
            padding: rem(7) rem(5);
            margin-block: rem(13);
            width: 100%;
            height: rem(45);
            border: 1px solid var(--black);
            border-radius: rem(12);
        }

        &__field {
            @include fluid-text(22, 18);
            width: 100%;
        }

        @include tablet-above {
            @include visually-hidden;
        }
    }
}