@use "../../main/variables.scss";
@use "../../helpers/index.scss" as *;

.header-mobile {
    color: var(--black);
    border-bottom: 1px solid var(--lightGray);
    background-color: var(--white);
    
    &__block {
        margin-inline: auto;
        width: min(100% - rem(40), rem(1440));
    }

    &__contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: rem(19) rem(13); 
    }

    &__title {
        @include fluid-text(40, 22);
        color: var(--redTittle);
    }

    &__location {
        @include fluid-text(16, 13);
        display: flex;
        align-items: center;
        column-gap: rem(5);
    }

    &__cities {
        font-size: rem(12);
    }

    &__search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(15);
        padding: rem(7) rem(5);
        margin-block: rem(13);
        width: 100%;
        height: rem(40);
        border: 1px solid var(--black);
        border-radius: rem(12);
    }

    &__quest {
        width: rem(20);
        height: rem(20);
    }

    &__image--search {
        width: rem(20);
        height: rem(20);
    }

    &__field {
        @include fluid-text(22, 18);
        width: 100%;
    }

    &__nav {
        position: fixed;
        bottom: 0;
        left: 0;
        padding-block: rem(10);
        width: 100%;
        color: var(--black);
        border-bottom: 1px solid var(--lightGray);
        background-color: var(--white);
        border-top: 1px solid var(--black);

        @include tablet-above() {
            @include visually-hidden;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        position: relative;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(3);

        &.active {
            border-radius: rem(8);
            background-color: var(--dimGray);
        }

        &--basket {
            &::after {
                display: flex;
                justify-content: center;
                align-items: center;
                content: var(--count);
                position: absolute;
                top: rem(-5);
                right: rem(-5);
                width: rem(20);
                height: rem(20);
                border: 1px solid black;
                border-radius: 50%;
                background-color: white
            }
        }
    }

    &__icon {
        width: rem(25);
        height: rem(25);
    }

    &__text {
        font-size: rem(10);
    }

    @include tablet-above() {
        @include visually-hidden;
    }
}